.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
    height: 100%;
}

.title {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
}

.title h1 {
    font-size: 64px;
    font-weight: 400;
}

.title p {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.card {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.button {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}
