.container {
    --border-color: #F6630F;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login, .password {
    margin-bottom: 15px;
}

.confirmPassword {
    margin-bottom: 35px;
}

.button {
    margin: auto;
    transition: 0.3s;
}

.button:hover {
    transform: scale(1.04);
}
