.sticker {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 5px;
    padding: 10px 10px;
    width: fit-content;
    max-width: 10cm;
    border-radius: 20px;
    font-weight: 500;
    user-select: none;
    height: fit-content;
    border-width: 1px;
    border-style: solid;
    position: relative;
}

@media print {
    .stickerWrap {
        display: block;
        float: left;
        margin: 5px;
        page-break-inside: avoid;
        border-width: 1px;
        border-style: solid;
        padding: 3px;
    }
}

.sticker .word,
.sticker .example,
.sticker .transcription {
    white-space: pre-wrap;
    overflow: auto;
    max-width: 9cm;
    text-align: center;
}

.sticker .word,
.sticker .transcription {
    text-overflow: ellipsis;
}

.sticker .word {
    font-size: 22px;
}

.sticker .example {
    font-size: 12px;
}

.sticker .transcription {
    font-size: 16px;
}

.plotter {
    border: 1px solid red !important;
    background: none !important;
}

.plotter > .word,
.plotter > .transcription,
.plotter > .example {
    visibility: hidden;
}

.cutter {
    border: 1px solid red !important;
}

.visible {
    visibility: hidden;
}
