.sticker {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 5px;
    padding: 10px 10px;
    width: 200px;
    border-radius: 20px;
    font-weight: 500;
    user-select: none;
}

.sticker .word {
    font-size: 24px;
}

.sticker .example {
    font-size: 14px;
}

.sticker .transcription {
    font-size: 18px;
}
