.layout {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: 260px 1fr 1fr 350px;
    align-items: center;
    position: absolute;
    width: 100%;
    background: rgba(251, 251, 251, 0.5);
    -webkit-backdrop-filter: saturate(180%) blur(25px);
    backdrop-filter: saturate(180%) blur(25px);
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.2);
}

.logo {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
    display: flex;
    justify-content: center;
    width: 170px;
    text-decoration: none;
    color: #282c34;
}

.auth {
    grid-column-start: -2;
    grid-column-end: -1;
    justify-self: end;
    margin-right: 80px;
}

.button {
    width: 100px;
}
